@charset "utf-8";

.id_search > h2 {background-color: #e4e4e4; font-size: 20px; font-weight: bold; text-align: center; line-height: 60px;}
.search_box {margin: 30px 0;}
.search_type {display: flex; width: 80%; justify-content: space-around; margin: 0 auto;}
.search_type > li {border: 1px solid #ccc; padding: 10px 42.5px;}
.search_type > li:first-child {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.search_type > li:last-child {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.act {background-color: rgba(182, 0, 0, 0.849) !important; color: #fff !important; font-weight: bold;}